.approach {
  margin-bottom: 118px;
  @media screen and (max-width: 1050px) {
    background: $bg-gray;
    margin-bottom: 85px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    @media screen and (max-width: 1520px) {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    @media screen and (min-width: 270px) and (max-width: 1049px) {
      flex-direction: column-reverse;

    }
  }

  &__description {
    margin-right: 60px;
    @media screen and (max-width: 1520px) {
      margin: 0;
    }
    @media screen and (max-width: 1050px){
    text-align: left;
    }
  }

  &__title {
    margin-bottom: 34px;
    @media screen and (max-width: 1050px) {
      font-size: 26px;
      line-height: 34px;
      margin-bottom: 16px;
    }
  }

  &__text {
    margin-bottom: 18px;
    @media screen and (max-width: 1050px) {
      font-size: 16px;
      line-height: 27px;
      &:nth-last-of-type(1 ) {
        display: none;
      }
      &:after{
        content: "развернуть...";
        color: $violet;
        font-family: Ubuntu-300, serif;
        font-size: 12px;
        font-style: normal;
        line-height: 27px;
        display: inline-block;
        margin-bottom: 46px;
        margin-top: 15px;
      }
    }
  }

  &__img {
    @media screen and (max-width: 1050px) {
      width: 269px;
      height: 198px;
      margin-top: 45px;
      margin-bottom: 34px;
    }
  }
}
