.approach {
  margin-bottom: 118px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    @media screen and (max-width: 1520px){
      display: flex;
      flex-direction: column;
      text-align: center;

    }
  }

  &__description {
    margin-right: 60px;
    @media screen and (max-width: 1520px){
      margin: 0;
    }
  }

  &__title {
    margin-bottom: 34px;
  }

  &__text {
    margin-bottom: 18px;
  }

  &__img {
  }
}
