@font-face {
  font-family: 'Ubuntu-300';
  src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-400';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-500';
  src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}


