.new-wallpaper {
  margin-bottom: 160px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 70px;
  }

  &__gallery {

  }

  &__gallery-card {
  }
}

