.paints {
  margin-bottom: 146px;

  &__presentation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 76px;
  }

  &__presentation-img {
    margin-right: 66px;
  }

  &__presentation-description {
  }

  &__presentation-title {
    margin-bottom: 30px;
  }

  &__presentation-text {
    margin-bottom: 15px;
    padding-right: 5px;
  }

  &__gallery {

  }

  &__buttons {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &__btn {
    width: 221px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background: $white;
    padding: 19px 11px;
    color: $brown;
    font-family: Ubuntu-400, serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
      background: $violet;
      color: $white;
    }
  }

  &__detail {
    align-self: center;
    justify-self: end;
  }

  &__slider {
  }

  &__slider-card {
    width: 221px;
    height: 221px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 14px;
    &--bg1{
      background: #A9998A;
    }
    &--bg2{
      background: #8FB0A9;
    }
    &--bg3{
      background: #839099;
    }
    &--bg4{
      background: #A29DA1;
    }
    &--bg5{
      background: #727C7D;
    }
    &--bg6{
      background: #CDDAD1;
    }
  }

  &__card-img {
    align-self: start;
    justify-self: start;
  }

  &__card-text {
    color: $white;
    font-family: Ubuntu-400, serif;
    font-size: 18px;
    align-self: end;
    justify-self: center;
    margin-bottom: 15px;
  }
}
