$violet: #CA3192;
$dark_violet: #843C6A;
$brown: #4E3535;
$gray: #E4E6E3;
$main_gradient: linear-gradient(90deg, #F08B75 0%, #E94D94 51%, #9B4894 100%);
$dark_pink_gradient: linear-gradient(90deg, #E760A1 0%, #B93E76 51%, #7C3276 100%);
$soft_pink_gradient: linear-gradient(90deg, #F880B9 0.29%, #FF98A6 100%);



