.wallpaper {
  margin-bottom: 135px;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__headline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 45px;
  }

  &__title {
  }

  &__detail {
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(4, 339px);
    column-gap: 15px;
  }

  &__gallery-column {
    display: grid;
    row-gap: 15px;
  }

  &__gallery-card {
  }
}



