.why {
  margin-bottom: 162px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1520px){
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 71px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3,416px);
    column-gap: 56px;
    row-gap: 45px;
    @media screen and (max-width: 1520px){
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__card-body {
  }
}

